* {
    font-family: monospace;
    font-size: 13px;
    color: {{color5}};
}

window#waybar {
    background: transparent;
}

.modules-left,
.modules-center,
.modules-right {
    background: transparent;
    padding: 0 5px;
}

#clock,
#battery,
#cpu,
#memory,
#disk,
#temperature,
#backlight,
#network,
#pulseaudio,
#wireplumber,
#custom-media,
#tray,
#mode,
#idle_inhibitor,
#scratchpad,
#power-profiles-daemon,
#mpd,
#workspaces {
    padding: 0 10px;
    margin: 0 2px;
    border-radius: 20px;
    background: {{color0}};
}

#network {
    color: {{color8}};
}

#backlight {
    color: {{color9}};
}

#wireplumber {
    color: {{color10}};
}

#battery {
    color: {{color11}};
}

#memory {
    color: {{color12}};
}

#cpu {
    color: {{color13}};
}

#clock {
    padding: 0 15px;
}

#workspaces button.active * {
    color: {{color9}};
}
